.App {
  text-align: center;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 23%, rgba(228,228,228,1) 86%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container,.addbar{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 

}
.card{
  margin: 1em;
  background: rgb(124,207,208);
  background: radial-gradient(circle, rgba(124,207,208,1) 22%, rgba(252,254,255,1) 99%);
}
.termine{
  color:blue;
  text-decoration: line-through;
}
.encours{
  color:green;

}
